#jo3h{
    padding-left: 20%;
}
#myinput{
   
            padding: 8px; 
            font-size: 13px;
            width: 200px; 
            border-style: dotted; 
            border-width: 0 0 2px 0;
          }
         